<!-- <input type="text" placeholder="enter something" [(ngModel)] = 'name'>

<p> {{name}}</p> -->

<!-- <input type="date" placeholder="enter date" (input) = "onUpdateShowMsg($event)"> -->

<!-- <button (click) = "onClickShowMsg()"> show text</button> -->

<input type="text" [(ngModel)] = 'name' (input) = "onUpdateShowMsg($event)">
<p *ngIf="isuserNameEmpty; else greet" >  {{name}} </p>
<ng-template #greet>
    <p>Please enter username</p>
</ng-template>
<button [hidden] = '!isuserNameEmpty' (click) = "onClickShowResetMsg()"> Reset Username</button>



<!-- Math Challenge Application -->
<ng-template #error>
    <p>Total Question to be challenged should be greater than zero</p>
</ng-template>

Total Question to be challenged: 
<input type="text" [(ngModel)] = 'totalquestions' (input) = "resetShowResult()"  >
<div *ngIf="totalquestions > 0; else error">
    <p>Quesion {{qno}} out of {{totalquestions}}</p>    
    <span [ngStyle]="{color: 'red'}" *ngIf="no1===''">Please Enter first number</span>
    <input type="text" [(ngModel)] = 'no1' >
    <span [ngStyle]="{color: 'red'}" *ngIf="no2===''">Please Enter second number</span>
    <input type="text" [(ngModel)] = 'no2' >

    <div *ngIf="no1!='' && no2!=''">
        <input [ngStyle]="{backgroundColor: getColor()}" 
        [ngClass]="{correct: color === 'green' , wrong: color === 'red'}"
        type="text" [(ngModel)] = 'result' >
        <button [disabled] = "no1==='' || no2===''"  (click) = "onClickShowResult()"> Verify Result </button>
        <button [hidden] = "qno == totalquestions" (click) = "onClickNextNumbers()"> Next</button>
        <button [hidden] = "qno != totalquestions" (click) = "onClickShowFinalResult()"> show result</button>
    </div>
</div>

<div *ngIf="showResult === true">
    <span>Total correct answers {{totalcorrectquestions}} </span>
    <table border="1px">
        <tr>
            <th>Sl No#</th>
            <th>Question 1</th>
            <th>Question 2</th>
            <th>Your Answer</th>
            <th>Correct Anwser</th>
            <th (click)="resetShowResult()">X</th>
        </tr>      
        
        <tr *ngFor = "let q of questions" [ngStyle]="{backgroundColor: q.iscorrect===true ? 'green' : 'red' }"
        [ngClass]="{correct: q.iscorrect === true , wrong: q.iscorrect === false }"
        >
            <td>{{q.qno}}</td>
            <td>{{q.no1}}</td>
            <td>{{q.no2}}</td>
            <td>{{q.answer}}</td>
            <td>{{q.correctanswers}}</td>            
          </tr>
    </table>
</div>




